<table class="table">
  <tr>
    <th>Name</th>
    <th>Born Year</th>
    <th>Born Place</th>
    <th>Bio</th>
  </tr>

	<% @actors.each do |actor| %>
	<tr>
		<td><%= actor.name %></td>
		<td><%= actor.born_year.strftime("Born %d-%m-%Y (#{pluralize(actor.years_from_now, "Year")})") %></td>
		<td><%= actor.born_place %></td>
		<td><%= truncate(actor.bio) %></td>
	</tr>
	<% end %>

</table>

<%= link_to 'New Actor', new_actor_path %>
