<h1>Listing films</h1>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
					<%= image_tag(@film_carousel[0].image) %>
            <div class="carousel-caption">
							<h1><%= @film_carousel[0].title %></h1>
							<p class="lead"><%= @film_carousel[0].description %></p>
              <a class="btn btn-large btn-primary" href="#">Sign up today</a>
            </div>
        </div>
        <div class="item">
					<%= image_tag(@film_carousel[1].image) %>
          <div class="container">
            <div class="carousel-caption">
							<h1><%= @film_carousel[1].title %></h1>
							<p class="lead"><%= @film_carousel[1].description %></p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item">
					<%= image_tag(@film_carousel[2].image) %>
          <div class="container">
            <div class="carousel-caption">
							<h1><%= @film_carousel[2].title %></h1>
							<p class="lead"><%= @film_carousel[2].description %></p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
      </div>

			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				<span class="control-left"><i class="fa fa-arrow-left fa-3x"></i></span>
			</a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="control-right"><i class="fa fa-arrow-right fa-3x"></i></span>
			</a>
    </div>

<br>

<%= link_to 'New Film', new_film_path %>
