<table class="table">
  <tr>
    <th>Image</th>
    <th>Description</th>
    <th>Year</th>
    <th>Director</th>
    <th>Actors</th>
  </tr>

	<% @films.each do |film| %>
	<tr>
		<td><%= image_tag film.image, size: "100x150" %></td>
		<td><%= film.description %></td>
		<td><%= film.year %></td>
		<td><%= film.director %></td>
		<td><%= film.actors.map {|a| link_to(a.name, a) }.join(", ").html_safe %></td>
		<td><%= link_to 'Edit film', edit_film_path(film) %></td>
	</tr>
	<% end %>

</table>

<%= link_to 'New Film', new_film_path %>
