<table class="table">
  <tr>
    <th>Image</th>
    <th>Description</th>
    <th>Year</th>
    <th>Director</th>
    <th>Actors</th>
  </tr>

	<% @films.each do |film| %>
	<tr>
		<td><%= image_tag film.image, size: "100x150" %></td>
		<td><%= film.description %></td>
		<td><%= film.year %></td>
		<td><%= film.director %></td>
		<td><%= film.actors %></td>
	</tr>
	<% end %>

</table>
