<!DOCTYPE html>
<html>
<head>
  <title>FilmbookV2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar :brand => "FilmbookV2", :responsive => :true do %>
	<%= menu_group do %>
		<%= menu_item "Home", root_path %>

	<% end %>


<% end %>

<p class="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
