<!DOCTYPE html>
<html>
<head>
  <title>FilmbookV2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar :brand => "FilmbookV2", :responsive => :true do %>
	<%= menu_group do %>
		<%= menu_item "Films", list_films_path %>
		<%= menu_item "Actors", list_actors_path %>
	<% end %>

	<%= menu_group :pull => :right do %>
		<% if user_signed_in? %>
			<%= menu_item "Profile", user_path(current_user) %>
			<%= menu_item "Logout", destroy_user_session_path, :method => :delete %>
		<% else %>
			<%= menu_item "Login", new_user_session_path %>
	  <% end %>
	<% end %>


<% end %>

<p class="notice"><%= notice %></p>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
